<div class="wrapper-md">
  <!-- toaster directive -->
  <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'showCloseButton': false, 'time-out': 2500}"></toaster-container>

  <tabset class="tab-container" ng-init="steps={percent:0, step1:true, step2:false}">
    <!-- Step 1 Start -->
    <tab heading="{{'app.common.STEPS_1' | translate}}" active="steps.step1" select="steps.percent=0">
      <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>

      <div class="row">
        <div class="col-sm-12">
          <form name="step1" class="form-horizontal form-validation">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong translate="api.common.STEP1"></strong>
              </div>
              <div class="panel-body" id="api_properties">                    
                <div class="form-group">
                  <label class="col-sm-2 control-label" translate="api.common.SERVER"></label>
                  <div class="col-sm-8">
                    <select name="server" class="form-control" ng-model="api.server" required>
                      <option ng-repeat="server in config.servers">{{server}}</option>
                    </select>
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
              </div>
              <footer class="panel-footer text-right bg-light lter">
                <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step2=true" translate="app.common.NEXT"></button>
              </footer>
            </div>
          </form>
        </div>
      </div>
    </tab>
    <!-- Step 1 End -->

    <!-- Step 2 Start -->
    <tab heading="{{'app.common.STEPS_2' | translate}}" disabled="step1.$invalid" active="steps.step2" select="steps.percent=50">
      <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
      
      <div class="row">
        <div class="col-sm-12">
          <form name="step2" class="form-horizontal form-validation">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong translate="api.common.STEP2"></strong>
              </div>
              <div class="panel-body" id="api_properties_output">                    
                <div class="form-group">
                  <label class="col-sm-2 control-label" translate="api.common.SERVER"></label>
                  <div class="col-sm-8">
                    {{api.server}}
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
              </div>
              <footer class="panel-footer text-right bg-light lter">
                <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step1=true" translate="app.common.PREVIOUS"></button>
                <button type="button" class="btn btn-default btn-rounded" ng-click="done()" translate="app.common.DONE"></button>
              </footer>
            </div>
          </form>
        </div>
      </div>
    </tab>
    <!-- Step 2 End -->

    <!-- Step 3 Start -->
    <tab heading="{{'app.common.STEPS_3' | translate}}" disabled="step1.$invalid" active="steps.step3">
      <div class="row">
        <div class="col-sm-12">
          <form name="step2" class="form-horizontal form-validation">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong translate="api.common.STEP3"></strong>
              </div>
              <div class="panel-body" id="api_request_output">                    
                <div class="form-group">
                  <label class="col-sm-2 control-label" translate="api.common.RESPONSE"></label>
                  <div class="col-sm-8">
                    <pre>{{response}}</pre>
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
              </div>
              <footer class="panel-footer text-right bg-light lter">
                <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step2=true" translate="app.common.PREVIOUS"></button>
                <button type="button" class="btn btn-default btn-rounded" ng-click="exit()" translate="app.common.EXIT"></button>
              </footer>
            </div>
          </form>
        </div>
      </div>
    </tab>
    <!-- Step 3 End -->
  </tabset>
</div>