<div class="wrapper-md">
  <!-- toaster directive -->
  <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'showCloseButton': false, 'time-out': 2500}"></toaster-container>

  <tabset class="tab-container" ng-init="steps={percent:0, step1:true, step2:false}">
    <!-- Step 1 Start -->
    <tab heading="{{'app.common.STEPS_1' | translate}}" active="steps.step1" select="steps.percent=0">
      <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
      <form name="step1" class="form-validation">
        <div id="api_properties">
          <p>Server:</p>
          <select name="server" class="form-control m-b" ng-repeat="server in config.servers" ng-model="config.server" required>
            <option>{{server.name}}</option>
          </select>
        </div>

        <div class="m-t m-b">
          <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step2=true" translate="app.common.NEXT"></button>
        </div>
      </form>
    </tab>
    <!-- Step 1 End -->

    <!-- Step 2 Start -->
    <tab heading="{{'app.common.STEPS_2' | translate}}" disabled="step1.$invalid" active="steps.step2" select="steps.percent=50">
      <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
      
      <div id="api_properties_output">
        <p>Server: {{config.server}}</p>
      </div>
      <div class="m-t m-b">
        <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step1=true" translate="app.common.PREVIOUS"></button>
        <button type="button" class="btn btn-default btn-rounded" ng-click="done()" translate="app.common.DONE"></button>
      </div>
    </tab>
    <!-- Step 2 End -->
  </tabset>
</div>